.centralizar{
    text-align: center;
}

.text{
    color: aliceblue; 
    font-family: monospace; 
    text-align: center;

}

a{
    text-decoration: none;
    text-transform: uppercase;
    color:aliceblue;
}

#titulo{
    font-size: 15px;
    margin: auto;
}

#meio{
    margin: auto;
}

#texto-index{
    font-size: 15px;
    margin-left: 100px;
}

#rodape{
    font-size: 9px;
}

