.centralizar{
    text-align: center;
}

.text{
    color: aliceblue; 
    font-family: 'Press Start 2P', cursive;
    text-align: center;

}

/* BOTÃO NEXT (INDEX) */
.next{
    color: aliceblue; 
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 14px;

}

.aqui{
    color: rgb(247, 242, 0); 
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 14px;

}

.text-botao{
    color: rgb(0, 0, 0); 
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color:aliceblue;
}

#titulo{
    font-size: 15px;
    margin: auto;
}

#meio{
    margin: auto;
}

#texto-index{
    font-size: 15px;
    margin-left: 100px;
}

#rodape{
    font-size: 9px;
}

